html {
    background-color: #010101;
    color: #fefefe;
}
h1 {
    color: #fefefe;
}
h2 {
    color: #fefefe;
}
h3 {
    color: #fefefe;
}
a {
    text-decoration: none;
}
header {
    padding-top: 60px;
}